/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #214fa0;
  --ifm-color-primary-dark: #1e4790;
  --ifm-color-primary-darker: #1c4388;
  --ifm-color-primary-darkest: #173770;
  --ifm-color-primary-light: #2457b0;
  --ifm-color-primary-lighter: #265bb8;
  --ifm-color-primary-lightest: #2b67d0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #98c1e7;
  --ifm-color-primary-dark: #79aee0;
  --ifm-color-primary-darker: #69a5dc;
  --ifm-color-primary-darkest: #3b89d1;
  --ifm-color-primary-light: #b7d4ee;
  --ifm-color-primary-lighter: #c7ddf2;
  --ifm-color-primary-lightest: #f5f9fd;
}

/* src/css/custom.css */

/* 专门针对首页副标题（Tagline）的样式 */
.hero__subtitle {
  text-transform: uppercase; /* 强制视觉大写 */
  letter-spacing: 0.03em;    /* 稍微增加字间距，让大写看起来更疏朗大气 */
  font-size: 2rem;         /* 可选：如果你觉得变大写后文字太小，可以微调 */
}